.e7_body{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
a {
  text-decoration: none;
}
.e7_title{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    margin-bottom: 40px;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
}
.e7_title:hover{
    cursor:pointer;
}
.e7_div{
    width:90%;
    height:100%;
    box-shadow:4px 4px 15px 0 black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 0;
    margin: 5px 0 20px 0
}
.e7_div_dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 15px
}
.e7_dropdown  {
    width:150px;
}
.e7_graph{
    width: 95%;
}
